.upgradeButtons {
  display: inline-block;
}

.buildingButtons {
  display: inline-block;
}

#loading {
  display: none;
}

#mainBody {
  display: none;
}

#deleteSave {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#deleteSaveModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#deleteSaveModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 22%;
  text-align: center;
}

#deleteSaveSpan {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

#deleteSaveSpan:hover,
#deleteSaveSpan:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
